@import "tailwindcss";

html,
body {
  font-family: Roboto, sans-serif;
}

@theme {
  --font-roboto: roboto;
  --font-geist_mono: geist;
  --color-blue-900: #1f2b6c;
  --color-blue-500: #159eec;
  --color-blue-400: #bfd2f8;
  --tracking-wide: 2.2px;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.hero {
  background-image: url("../../public/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
